//Base styles for the overall project

* {
  color:$black;
  box-sizing: border-box;
}

body {
  @include gradient-background;
}

ul {
  list-style: none;
  padding-left: 0;
}

form {
  display: block;
  margin: 0 auto;
  width: 70%;

  input, textarea {
    width:100%;
    margin: em(10) 0;
  }
}


//General layout of main content sections:
.content__wrap {
  @include landscape-tablet {
    display: flex;
  }

  @include wide-desktop {
    max-width: 1600px;
    margin:0 auto;
  }
}




.main-content {
  @include landscape-tablet {
    width:70%;
    padding: em(10) 0;
  }
}
