
.contact-form__form {
  margin: 0;
}

.contact-form__input {
  color: $grey-dark;
  margin-top: 0;
  margin-bottom: em(10);
  font-family: arial sans-serif;

  &:focus {
    color: $black;
  }

  &--submit {
    width: 40%;
    background-color: $white;
    color: $black;
    padding: em(10);
    border: 2px solid $black;
    margin: 0;

    &:hover {
      cursor: pointer;
    }
  }

  &--textarea {
    height: 200px;
    padding-top: 0px;
  }
}


@include landscape-tablet {
  .contact-form__wrap {
    width: 60%;
  }
}
