
.header-bar {
  width:50%;
  margin:em(18) auto;
  margin-bottom: em(18);

}

  .header-bar__logo-wrap {
    width:40%;
    margin:0 auto;
  }

  .header-bar__nav {
    width:40%;
    margin:0 auto;
  }


.header-bar__title-text {
  font-size: em(22);
  text-decoration: none;
  color: $white;
  font-weight: normal;
}

.header-bar__nav-list {
  margin:0;
  display:flex;
  justify-content: center;
  @include landscape-tablet {

  }
}

.header-bar__nav-list-item {
  padding:em(5);
  margin:0 em(10);
  text-align: center;
  background-color: $black;
}

.header-bar__nav-link {
  text-decoration: none;
  display: block;
  color: $grey-light;
  font-size: em(14);

}

.header-bar__logo-img {
  width:100px;
  height:100px;

  @include landscape-tablet {
    width:50px;
    height:50px;
  }

}


@include landscape-tablet {

  .header-bar {
    display: flex;
    background-color: $black;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    width:100%;
  }


  .header-bar__title {
    margin: 0 em(5);
    padding: 0 em(15);
    border-right: 1px solid $white;
    font-weight: normal;
  }

  .header-bar__logo-wrap {
    width:auto;
    margin:0 0;
  }

  .header-bar__title-text {
    font-size: em(20);
    color: $white;
  }

  .header-bar__logo-img {
    width:50px;
    height:50px;
  }

  .header-bar__nav {
    width:auto;
    margin:0 0;
    padding-top:0;
  }

  .header-bar__nav-list-item {
    padding: 0 em(5);
    margin:0;
    text-align: left;
  }

  .header-bar__nav-link {
    padding: em(5);
    color: $grey-light;

    &:hover {
      text-decoration: underline;
    }
  }

}
