//Utility classes, sass functions etc..


//Helper class to center text:
.center-text {
  text-align: center;
}

//Easily add a standard box shadow
.box-shadow {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(27,27,28,0.7);
  -moz-box-shadow: 0px 5px 10px 0px rgba(27,27,28,0.7);
  box-shadow: 0px 5px 10px 0px rgba(27,27,28,0.7);
}


//Take pixel values and convert to em. Default is the browser context value defined in variables file.
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}


//Media Query Mixins:
@mixin portrait-tablet {
  @media (min-width: 600px) { @content; }
}
@mixin landscape-tablet {
  @media (min-width: 900px) { @content; }
}
@mixin desktop {
  @media (min-width: 1200px) { @content; }
}
@mixin wide-desktop {
  @media (min-width: 1800px) { @content; }
}
