//Site wide style variables

// Site colors
$black: #020202;
$grey-mid: #777777;
$grey-light: #bababa;
$grey-dark: #3d3d3d;
$off-white: #ededed;
$white: #f9f9f9;
$link-color: #ffe630;

//Default font size for the em function:
$browser-context: 16;


//Breakpoint sizes:
$tablet-portrait-breakpoint: 600px;
$tablet-landscape-breakpoint: 900px;
$desktop-breakpoint: 1200px;
$widedesktop-breakpoint: 1800px;
