
.page-contact {
  text-align: center;
}

.contact-form__form {
  margin:0 auto;
  text-align: center;
}

.contact-form__input {
  color: $grey-80;
  margin-top: em(2);
  margin-bottom: em(10);
  font-family: arial sans-serif;

  &:focus {
    color: $black;
    background-color: $secondary-lighter;
  }

  &--submit {
    width: 40%;
    display: block;
    background-color: $secondary-dark;
    color: $secondary-lighter;
    padding: em(10);
    border: 0;
    margin: 0 auto;

    &:hover {
      cursor: pointer;
    }
  }

  &--textarea {
    height: 200px;
    padding-top: 0px;
  }
}


@include landscape-tablet {
  .contact-form__wrap {
    width: 60%;
    margin: 0 auto;
  }
  .contact-form__form {
    text-align: left;
  }
}
