//styling for the About me page:
.page-home {
  .avatar {
    width:200px;
    border:8px solid $link-color;
    border-radius:50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:em(16);
    margin-top: em(4);
    background-color: $white;
    // @include box-shadow;
  }

  p {
    text-align: center;
  }
}
