.page__wrap {
  width:98%;
  margin:0 auto;
  padding-bottom: em(10);
  // background-color: $white;
  // @include box-shadow;

  .post {
    padding: em(20);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .post__inner {
    padding: 0;
  }

  .page__technologies-items {
    text-align: center;
  }

  .post__header {
    // margin-bottom: em(5);
    padding: em(15);
    background-color: rgba(0,0,0,0.6);
  }

  .post__body {
    background-color: rgba(255,255,255,0.9);
  }

  .post__content {
    padding: 0 em(8);
  }

  .post__header-title {
    margin: 0;
    text-align: center;
    color: $white;
    font-weight: normal;
  }

  .post__subtitle {
    margin:0;
    font-size: em(18);
    margin-top: em(5);
    text-align: center;
    color: $grey-40;
  }

  img {
    margin: em(40) auto;
    display:block;
    max-width: 98%;
  }

  .post__img-caption {
    font-style: italic;
    color: $tertiary-dark;
    text-align: center;

  }

  a {
    background-color: $link-color;

  }


}

.page-contact {
  .post__content {
    padding-top: em(18);
    p {
      margin-top: 0;
    }   
  }
}


.page__wrap {
  .page-home {
    padding-top: 0;
    margin-top: 0;
    .post__body {
      padding: em(8);
      background-color: transparent;
    }

    .home__card {
      background-color: rgba(255,255,255,0.9);
      text-align: center;
      width: 90%;
      margin: 0 auto;
      padding: em(12);
      @include box-shadow;
    }
  }
}

@include landscape-tablet {
  .page-project {
    .post__content {
      max-width:80%;
      margin-left: auto;
      margin-right: auto;

      img {
        
      }
    }
  }

  .page-home {
    .home__card {
      width: 75%;
    }
  }
}


@include desktop {
  .page__wrap {
    .page-home {
      .home__card {
        width: 60%;
      }
    }
  }
}


.page {
  &__technologies-list {
    width:100%;
    display: flex;
    margin-bottom: em(8);
    padding-top: em(8);
    justify-content: center;
    align-items: center;
  }
  &__technologies-items {
    padding: em(5);
    color: $grey-80;
    font-size: em(16);
    margin: 0 em(8);
  }
  &__header-links {
    display: flex;
    flex-direction: column;
    margin: em(8) 0;
    justify-content: center;
    align-items: center;
  }
  &__header-link {
    margin: em(8) 0;
  }
  &__back {
    text-align: center;
    margin-top: em(16);
    .cta {
      display: block;
      padding: em(8);
    }
  }
}
