.page__wrap {
  width:98%;
  margin:0 auto;
  background-color: $white;
  @include box-shadow;

  .post {
    padding: em(20);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .post__inner {
    padding: 0 em(20);
  }

  .post__header {
    margin-bottom: em(10);
  }

  .post__header-title {
    margin: 0;
    text-align: center;
  }

  .post__subtitle {
    margin:0;
  }

  a {
    background-color: $link-color;

  }


}
