//Site wide style variables

//New color variables:
$primary: #1d2325;
// $secondary: #C29B2F;
$secondary: #fcc81e;
$tertiary: #C0BFB1;
$black: #141a1c;
$white: #ffffff;

$primary-dark: darken($primary, 10%);
$primary-light: lighten($primary, 20%);
$primary-lighter: lighten($primary, 35%);

$secondary-dark: darken($secondary, 20%);
$secondary-light: lighten($secondary, 20%);
$secondary-lighter: lighten($secondary, 35%);

$tertiary-dark: darken($tertiary, 20%);
$tertiary-light: lighten($tertiary, 20%);
$tertiary-lighter: lighten($tertiary, 35%);

$link-color: $secondary;

//Range of grays:
$grey-20: lighten($black, 80%);
$grey-40: lighten($black, 60%);
$grey-60: lighten($black, 40%);
$grey-80: lighten($black, 20%);

//Default font size for the em function:
$browser-context: 16;


//Breakpoint sizes:
$tablet-portrait-breakpoint: 600px;
$tablet-landscape-breakpoint: 900px;
$desktop-breakpoint: 1200px;
$widedesktop-breakpoint: 1800px;
