<% if (site.posts.length){ %>
  <div class="widget__wrap">
    <h3 class="widget__title"><%= __('Recent Posts') %></h3>
    <div class="widget__body">
      <ul class="widget__archive-list">
        <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
          <li class="widget__archive-list-item">
            <a class="widget__archive-link" href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
<% } %>
