<p>Index page!</p>

<!-- //Homepage content should go here -->
<p>This is the html for the homepage section. It will be hard-coded into an ejs template, rather than being in a markdown file</p>

<!-- <div class="post-loop">
<%- partial('_partial/archive', {pagination: 2, index: true}) %>
</div> -->
