<article class="archive__post archive-article archive-type-<%= post.layout %>">
  <div class="archive__article-inner">
    <header class="archive__article-header">
      <%- partial('post/title', {class_name: 'archive__post-title'}) %>
    </header>
  </div>
</article>
