<!-- Header for mobile view, hide on larger screens. -->
<div class="mobile-header">
  <div class="mobile-header__logo-wrap">
    <img class="mobile-header__logo" src="/images/l-logo.png" />
  </div>
  <div class="mobile-header__menu-toggle" id="menuToggle">
    <i class="fas fa-bars"></i>
  </div>
</div>
